@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: oklch(42% 0.28 328);
}

@custom-variant xs (&:where(.xs-screen, .xs-screen *)); /* remove this if it exists */

@theme {
  --breakpoint-xs: 320px; /* 👈 keep only this, remove the @custom-media line */
}
@custom-variant xs-only (@media (max-width: 320px));