@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: oklch(50.9% 0.221 340.06);
}

@custom-variant xs (&:where(.xs-screen, .xs-screen *)); 

@theme {
  --breakpoint-xs: 320px;
}
@custom-variant xs-only (@media (min-width: 320px) and (max-width: 376px));

/* Fixes the internal Swal success animation from breaking in flex containers */
.swal2-icon-show {
  display: flex !important;
}

.swal2-success-ring {
  box-sizing: content-box !important;
}